.export-button {
    font-size: 14px;
    font-weight: 500;
    background-image: linear-gradient(to right, #3B9315, #297209);
    color: white;

    &:hover {
        background-image: linear-gradient(to right, #297209, #297209);
    }

    & .icon {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1230px) {
    .export-button {
        font-size: 11px;

        & .icon {
            font-size: 16px;
        }
    }
}