.data-tervalidasi {
    .title {
        background-color: white;
        box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
        padding: 8px 16px;
        border-radius: 8px 8px 0 0;

        h6 {
            margin: 0px;
        }

        label {
            color: #737373;
        }

        .form-select {
            cursor: pointer;

            &:hover {
                color: #297209;
            }

            label {
                color: black;

                &:hover {
                    color: #297209;
                }
            }
        }

        .input-group {
            max-width: max-content;

            .input-group-text {
                background-color: transparent;
            }

            button {
                background-image: linear-gradient(to right, white, white);

                label {
                    cursor: pointer;
                }

                &:hover {
                    background-image: linear-gradient(to right, white, white);
                }
            }
        }

        .modal-dialog {
            max-width: max-content;

            .modal-header {
                h1 {
                    font-size: 20px;
                }
            }

            .modal-footer {
                button {
                    font-size: 14px;
                    font-weight: 500;
                    background-image: linear-gradient(to right, #3B9315, #297209);
                    color: white;

                    &:hover {
                        background-image: linear-gradient(to right, #297209, #297209);
                    }
                }
            }
        }
    }

    .content {
        background-color: white;
        box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
        padding: 12px 24px;
        border-radius: 0 0 8px 8px;

        .spinner-border {
            color: #3B9315;
        }

        .pagination-nav {
            height: 40px;

            button {
                min-width: 90px;
                font-size: 14px;
                font-weight: 500;
                background-image: linear-gradient(to right, #3B9315, #297209);
                color: white;

                &:hover {
                    background-image: linear-gradient(to right, #297209, #297209);
                }
            }

            .disabled {
                background-image: linear-gradient(to right, white, white);
                border: 1px solid #737373 !important;
                color: #737373;
                pointer-events: none;
            }
        }
    }
}

@media only screen and (max-width: 1530px) {
    .data-tervalidasi {
        .title {
            h6 {
                font-size: 14px;
            }

            label {
                font-size: 14px;
            }

            .form-select {
                font-size: 14px;
            }

            .modal-dialog {
                max-width: max-content;

                .modal-header {
                    h1 {
                        font-size: 17px;
                    }
                }

                .modal-footer {
                    button {
                        font-size: 12px;
                    }
                }
            }
        }

        .content {
            label {
                font-size: 14px;
            }
            
            .pagination-nav {
                font-size: 14px;

                button {
                    min-width: 84px;
                    font-size: 12px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1230px) {
    .data-tervalidasi {
        .title {
            h6 {
                font-size: 13px;
            }

            label {
                font-size: 13px;
            }

            .form-select {
                font-size: 13px;
            }

            .modal-dialog {
                max-width: max-content;

                .modal-header {
                    h1 {
                        font-size: 16px;
                    }
                }

                .modal-footer {
                    button {
                        font-size: 11px;
                    }
                }
            }
        }

        .content {
            label {
                font-size: 13px;
            }
            
            .pagination-nav {
                font-size: 13px;

                button {
                    min-width: 80px;
                    font-size: 11px;
                }
            }
        }
    }
}