.data-table {
    max-height: 50.1vh !important;

    table {
        font-size: 14px;

        .status-none {
            font-weight: 500;
            background-color: #F0F3FF;
            border: 2px solid #B1C5F6;
            color: #1573FD;
        }

        .status-true {
            font-weight: 500;
            background-color: #D2F1DD;
            border: 2px solid #8EDCA9;
            color: #1F8A58;
        }

        .status-false {
            font-weight: 500;
            background-color: #F9D1CC;
            border: 2px solid #F08C80;
            color: #DE4452;
        }

        thead {
            .table-header {
                background-color: #3B9315;
                color: white;
            }
        }
        
        tbody {
            tr {
                &:hover {
                    th, td, label {
                        cursor: pointer;
                        background-color: #DFF4DF;
                    }
                }
            }

            .active {
                th, td, label {
                    background-color: #DFF4DF;
                }
            }
        }

        .modal-dialog {
            .modal-header {
                h1 {
                    font-size: 20px;
                }
            }

            .modal-body {
                .spinner-border {
                    color: #3B9315;
                }
            }

            .deviation-navigation {
                button {
                    background-color: white;
                    color: #737373;
                    font-size: 24px;
    
                    &:hover {
                        color: #297209;
                    }
                }
    
                .disabled {
                    visibility: hidden;
                }
            }
        }
    }
}

@media only screen and (max-width: 1530px) {
    .data-table {
        max-height: 48.2vh !important;
    
        table {
            font-size: 12px;
    
            .status-none, .status-true, .status-false {
                font-size: 12px;
            }
    
            thead {
                .table-header {
                    background-color: #3B9315;
                    color: white;
                }
            }
            
            tbody {
                tr {
                    &:hover {
                        th, td, label {
                            cursor: pointer;
                            background-color: #DFF4DF;
                        }
                    }
                }
            }
    
            .modal-dialog {
                .modal-header {
                    h1 {
                        font-size: 17px;
                    }
                }
    
                .modal-body {
                    .spinner-border {
                        color: #3B9315;
                    }
                }
    
                .deviation-navigation {
                    button {
                        font-size: 21px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1230px) {
    .data-table {
        max-height: 47.3vh !important;
    
        table {
            font-size: 11px;
    
            .status-none, .status-true, .status-false {
                font-size: 11px;
            }
    
            thead {
                .table-header {
                    background-color: #3B9315;
                    color: white;
                }
            }
            
            tbody {
                tr {
                    &:hover {
                        th, td, label {
                            cursor: pointer;
                            background-color: #DFF4DF;
                        }
                    }
                }
            }
    
            .modal-dialog {
                .modal-header {
                    h1 {
                        font-size: 16px;
                    }
                }
    
                .modal-body {
                    .spinner-border {
                        color: #3B9315;
                    }
                }
    
                .deviation-navigation {
                    button {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}