.data-tervalidasi {
    .title {
        background-color: white;
        box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
        padding: 8px 16px;
        border-radius: 8px 8px 0 0;

        & h6 {
            margin: 0px;
        }

        & label {
            color: #3E4958;
        }

        & .input-group {
            max-width: max-content;

            & .input-group-text {
                background-color: transparent;
            }

            & button {
                background-image: linear-gradient(to right, white, white);

                & label {
                    cursor: pointer;
                }

                &:hover {
                    background-image: linear-gradient(to right, white, white);
                }
            }
        }

        & .modal-dialog {
            max-width: max-content;

            & .modal-footer {
                & button {
                    font-size: 14px;
                    font-weight: 500;
                    background-image: linear-gradient(to right, #3B9315, #297209);
                    color: white;

                    &:hover {
                        background-image: linear-gradient(to right, #297209, #297209);
                    }
                }
            }
        }

        & .export-button {
            font-size: 14px;
            font-weight: 500;
            background-image: linear-gradient(to right, #3B9315, #297209);
            color: white;

            &:hover {
                background-image: linear-gradient(to right, #297209, #297209);
            }
        }
    }

    .content {
        background-color: white;
        box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
        padding: 12px 24px;
        border-radius: 0 0 8px 8px;

        & .table {
            font-size: 14px;

            & .table-success {
                background-color: #3B9315;
                color: white;
            }

            & img {
                width: 100px;
            }

            & button {
                font-size: 14px;
                font-weight: 500;
                background-image: linear-gradient(to right, #3B9315, #297209);
                color: white;

                &:hover {
                    background-image: linear-gradient(to right, #297209, #297209);
                }
            }

            & .modal-dialog {
                & .spinner-border {
                    color: #3B9315;
                }
            }
        }

        & .status-none {
            font-weight: 500;
            background-color: #F0F3FF;
            border: 2px solid #B1C5F6;
            color: #1573FD;
        }

        & .status-true {
            font-weight: 500;
            background-color: #D2F1DD;
            border: 2px solid #8EDCA9;
            color: #1F8A58;
        }

        & .status-false {
            font-weight: 500;
            background-color: #F9D1CC;
            border: 2px solid #F08C80;
            color: #DE4452;
        }
    }
}