.data-table {
    max-height: 50.1vh !important;

    & table {
        font-size: 14px;

        & .table-header {
            background-color: #3B9315;
            color: white;
        }

        & img {
            width: 100px;
        }

        & .detail-button {
            font-size: 14px;
            font-weight: 500;
            background-image: linear-gradient(to right, #3B9315, #297209);
            color: white;

            &:hover {
                background-image: linear-gradient(to right, #297209, #297209);
            }
        }

        & .status-none {
            font-weight: 500;
            background-color: #F0F3FF;
            border: 2px solid #B1C5F6;
            color: #1573FD;
        }

        & .status-true {
            font-weight: 500;
            background-color: #D2F1DD;
            border: 2px solid #8EDCA9;
            color: #1F8A58;
        }

        & .status-false {
            font-weight: 500;
            background-color: #F9D1CC;
            border: 2px solid #F08C80;
            color: #DE4452;
        }

        & .deviation-navigation {
            & button {
                background-color: white;
                color: #737373;
                font-size: 24px;

                &:hover {
                    color: #297209;
                }
            }

            & .disabled {
                visibility: hidden;
            }
        }

        & .modal-dialog {
            & .modal-header {
                & h1 {
                    font-size: 20px;
                }
            }

            & .modal-body {
                & .spinner-border {
                    color: #3B9315;
                }
            }
        }
    }
}

@media only screen and (max-width: 1530px) {
    .data-table {
        max-height: 48.2vh !important;

        & table {
            font-size: 12px;

            & .table-header {
                background-color: #3B9315;
                color: white;
            }

            & img {
                width: 100px;
            }

            & .detail-button {
                font-size: 12px;
            }

            & .status-none, .status-true, .status-false {
                font-size: 12px;
            }

            & .deviation-navigation {
                & button {
                    font-size: 21px;
                }
            }

            & .modal-dialog {
                & .modal-header {
                    & h1 {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1230px) {
    .data-table {
        max-height: 47.3vh !important;

        & table {
            font-size: 11px;

            & .table-header {
                background-color: #3B9315;
                color: white;
            }

            & img {
                width: 100px;
            }

            & .detail-button {
                font-size: 11px;
            }

            & .status-none, .status-true, .status-false {
                font-size: 11px;
            }

            & .deviation-navigation {
                & button {
                    font-size: 20px;
                }
            }

            & .modal-dialog {
                & .modal-header {
                    & h1 {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}