.login {
    background-image: url("../assets/background/bg_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    & .form-container {
        background-color: white;
        max-width: 60vw;
        min-height: 65.5vh;

        & .col {
            & img {
                width: 60%;
            }

            & label {
                font-weight: 500;
            }

            & .password-visibility {
                font-size: 20px;
                cursor: pointer;
                margin-left: -30px;
                color: #297209;
            }

            & button {
                background-image: linear-gradient(to right, #3B9315, #297209);
                color: white;
                font-weight: 500;
                box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);

                &:hover {
                    background-image: linear-gradient(to right, #297209, #297209);
                }
            }

            & .login-message {
                color: #DE4452;
                font-size: 14px;
            }
        }

        & .col-6 {
            & .carousel {
                & img {
                    max-height: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1230px) {
    .login {
        & .form-container {
            max-width: 60vw;
            min-height: 65.5vh;
    
            & .col {
                & img {
                    width: 60%;
                }

                & h3 {
                    font-size: 22px;
                }

                & p {
                    font-size: 13px;
                }
    
                & label {
                    font-size: 13px;
                }

                & input {
                    font-size: 13px;
                }
    
                & .password-visibility {
                    font-size: 16px;
                }
    
                & button {
                    font-size: 13px;
                }

                & .login-message {
                    font-size: 11px;
                }
            }
        }
    }
}