.not-found {
    height: 100vh;
    width: 100vw;

    & img {
        height: 40vh;
    }

    & label {
        width: 40vw;
    }
}

@media only screen and (max-width: 1230px) {
    .not-found {
        & h3 {
            font-size: 22px;
        }
    
        & label {
            font-size: 13px;
        }
    }
}