.validasi-deviasi {
    & .col {
        .title {
            background-color: white;
            box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
            padding: 8px 16px;
            border-radius: 8px 8px 0 0;

            & h6 {
                margin: 0px;
            }

            & label {
                font-size: 12px;
                color: #3E4958;
            }
        }

        .content {
            background-color: white;
            box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
            padding: 12px 24px;
            border-radius: 0 0 8px 8px;

            & .deviation-img {
                width: 80% !important;
                border: 3px solid #297209;
            }
        }
    }
}